body {
  background-image: url(./CIA-pic.png);
  margin: 5%;
  padding-left: 5%;
  padding-right: 5%;
text-align: center;

}

.card-header{
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 5px 50px;
};

/* .warning {
  color: #ff7919;
} */
